@{
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}
@model BlogPreviewsDto


<div class="container mt-3 ">
    <form method="get" class="bg-success-subtle border rounded-top-4 p-3">
        <div class="row">
            <div class="col-9">
                <select name="category" class="form-select" aria-label="Default select example">
                    <option selected disabled>Choose a category</option>
                    <option value="">All</option>
                    @if(Model.Categories != null)
                    {
                        @foreach(Category cat in Model.Categories)
                        {
                            if (ViewBag.Category == cat.CatergoryNameEn)
                            {
                                <option selected value="@(cat.CatergoryNameEn)">@(cat.CatergoryNameEn)</option>
                            }else
                            {
                                <option value="@(cat.CatergoryNameEn)">@(cat.CatergoryNameEn)</option>
                            }
                        }

                    }
                </select>
            </div>
            <div class="col-3">
                    <button type="submit" class="btn btn-primary">Apply</button>
            </div>
        </div>
        <div class="mt-2">
            <p class="d-inline-flex gap-1">
                <button class="btn btn-primary"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false"
                        aria-controls="collapseExample">
                    Filter
                </button>
            </p>
            <div class="collapse" id="collapseExample">

                @if (Model.Tags != null && Model.Tags.Count > 0)
                {
                    @foreach (Tag tag in Model.Tags)
                    {
                        if (ViewBag.Tags != null && ViewBag.Tags.Contains(tag.TagNameEn))
                        {
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input"
                                       type="checkbox"
                                       name="tags"
                                       value="@(tag.TagNameEn)"
                                       id="flexCheckDefault_@(tag.TagNameEn)" />
                                <label class="form-check-label" for="flexCheckDefault_@(tag.TagNameEn)">
                                    @(tag.TagNameEn)
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="tags"
                                       value="@(tag.TagNameEn)"
                                       id="flexCheckDefault_@(tag.TagNameEn)" />
                                <label class="form-check-label" for="flexCheckDefault_@(tag.TagNameEn)">
                                    @(tag.TagNameEn)
                                </label>
                            </div>
                        }
                    }
                }

            </div>
        </div>
    </form>
</div>

<div class="row mx-auto mt-4">
    @if (Model.AdminBlogList != null)
    @foreach(var blog in Model.AdminBlogList)
    {
        if(blog != null)
        {
                <div class="col-12 col-md-4 col-lg-3 col-xl-2 m-1 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@blog.BlogName</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                                @if (blog != null && blog.AverageRating > 0)
                                {
                                    @for (int i = 0; i < 6; i++)
                                    {
                                        if (blog.AverageRating > i && blog.AverageRating < i + 1)
                                        {
                                            <i class="fa-regular fa-star-half-stroke" style="color: gold"></i>
                                        }
                                        else if (blog.AverageRating > i)
                                        {
                                            <i class="fa-solid fa-star" style="color: gold"></i>
                                        }
                                        else if (i < 5)
                                        {
                                            <i class="fa-regular fa-star" style="color: gold"></i>
                                        }
                                    }
                                }
                            </h6>
                        <p class="card-text">
                            <strong>Published: </strong> @(blog?.Published == true ? "Yes" : "no") <br />
                            <strong>Featured: </strong>@(blog?.Featured == true ? "Yes" : "no")<br />
                            <strong>Subscription: </strong>@(blog?.SubscriptionRerquired == true ? "Yes" : "no")<br />
                            <strong>Views: </strong>@(blog?.ViewCount) <br />       
                        </p>
                        <div class="mt-auto">
                                <a href="/blogs/blogpageId?blogId=@(blog?.BlogId)" class="card-link m-1">View Blog (@(blog?.CommentCount) comments)</a>

                            <a href="/create-blog?blogId=@(blog?.BlogId)" class="card-link m-1">Edit</a>

                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>





@* <div class=" overflow-x-scroll">
    <table class="table">
        <thead class="sticky-top table-success" >
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">Author</th>
                <th scope="col">BlogName</th>
                <th scope="col">CategoryCount</th>
                <th scope="col">TagsCount</th>
                <th scope="col">KeywordCount</th> 
                <th scope="col">Published</th>
                <th scope="col">Featured</th>
                <th scope="col">Subscription</th>
                <th scope="col">ViewCount</th>
                <th scope="col">AverageRating</th>
                <th scope="col">CommentCount</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @if(Model.AdminBlogList != null)
            {
                foreach(AdminBlogListDto blog in Model.AdminBlogList)
                {
                    <tr>
                        <td>@(blog.UserName)</td>
                        <td>@(blog.Author)</td>
                        <td>@(blog.BlogName)</td>
                        <td>@(blog.CategoryCount) Categories</td>
                        <td>@(blog.TagsCount) Tags</td>
                        <td>@(blog.KeywordCount) Keyword</td> 
                        <td>@(blog.Published == true ? "Yes" : "no")</td>
                        <td>@(blog.Featured == true ? "Yes" : "no")</td>
                        <td>@(blog.SubscriptionRerquired == true ? "Yes" : "no")</td>
                        <td>@(blog.ViewCount) Views</td>
                        <td>@(blog.AverageRating)</td>
                        <td>@(blog.CommentCount) Comments</td>
                        <td>
                            <a href="/create-blog?blogId=@(blog.BlogId)" class="btn btn-primary">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div> *@


<!-- PAGINATION -->

@{
    
}
@if(Model.PageCount > 1)
{
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (ViewBag.PageIndex != 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/admin-blog-views?pageIndex=@(ViewBag.PageIndex - 1)&category=@(ViewBag.Category)&tags=@(string.Join(",", ViewBag.Tags ?? new List<string>()))">Previous</a>
                </li>
            }

            @for (int i = Math.Max(1, ViewBag.PageIndex - 2); i <= Math.Min(Model.PageCount, ViewBag.PageIndex + 2); i++)
            {
                if (i == ViewBag.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link" href="#">@(i)</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/admin-blog-views?pageIndex=@(i)&category=@(ViewBag.Category)&tags=@(string.Join(",", ViewBag.Tags ?? new List<string>()))">@(i)</a>
                    </li>
                }
            }

            @if (ViewBag.PageIndex != Model.PageCount)
            {
                <li class="page-item">
                    <a class="page-link" href="/admin-blog-views?pageIndex=@(ViewBag.PageIndex + 1)&category=@(ViewBag.Category)&tags=@(string.Join(",", ViewBag.Tags ?? new List<string>()))">Next</a>
                </li>
            }
        </ul>
    </nav>

}