@{
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}
@model BlogPreviewsDto


<div class="container mt-3 ">
    <form method="get" class="bg-success-subtle border rounded-top-4 p-3">
        <div class="row">
            <div class="col-4">
                <button type="submit" class="btn btn-danger rounded-0 fw-bold mb-3">Apply</button>
            </div>
            <div class="col-9">
                <select name="category" class="form-select" aria-label="Default select example">
                    <option selected disabled>Choose a category</option>
                    <option value="">All</option>
                    @if(Model.Categories != null)
                    {
                        @foreach(Category cat in Model.Categories)
                        {
                            if (ViewBag.Category == cat.CatergoryNameEn)
                            {
                                <option selected value="@(cat.CatergoryNameEn)">@(cat.CatergoryNameEn)</option>
                            }else
                            {
                                <option value="@(cat.CatergoryNameEn)">@(cat.CatergoryNameEn)</option>
                            }
                        }

                    }
                </select>
            </div>

        </div>
            <h6 class="ps-3 mt-3">Sort:</h6>
        <div class="m-2 bg-light-subtle p-2">
            <div class="row">
                <div class="col-12">
                    <input class="form-check-input" type="radio" id="noSort" name="sortBy" value=""
                    @(Model.SortBy == "" ? "checked" : "") />
                    <label class="form-check-label" for="noSort">No Sort</label>
                </div>
                <div class="col-3">
                    <label class="fw-bold">Views:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="viewsAsc" name="sortBy" value="views_asc"
                        @(Model.SortBy == "views_asc" ? "checked" : "") />
                        <label class="form-check-label" for="viewsAsc">Ascending</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="viewsDesc" name="sortBy" value="views_desc"
                        @(Model.SortBy == "views_desc" ? "checked" : "") />
                        <label class="form-check-label" for="viewsDesc">Descending</label>
                    </div>
                </div>

                <div class="col-3">
                    <label class="fw-bold">Rating:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="ratingAsc" name="sortBy" value="rating_asc"
                        @(Model.SortBy == "rating_asc" ? "checked" : "") />
                        <label class="form-check-label" for="ratingAsc">Ascending</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="ratingDesc" name="sortBy" value="rating_desc"
                        @(Model.SortBy == "rating_desc" ? "checked" : "") />
                        <label class="form-check-label" for="ratingDesc">Descending</label>
                    </div>
                </div>

                <div class="col-3">
                    <label class="fw-bold">Title:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="titleAsc" name="sortBy" value="title_asc"
                        @(Model.SortBy == "title_asc" ? "checked" : "") />
                        <label class="form-check-label" for="titleAsc">Ascending</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="titleDesc" name="sortBy" value="title_desc"
                        @(Model.SortBy == "title_desc" ? "checked" : "") />
                        <label class="form-check-label" for="titleDesc">Descending</label>
                    </div>
                </div>

                <div class="col-3">
                    <label class="fw-bold">Creation Date:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="creationDateAsc" name="sortBy" value="creationdate_asc"
                        @(Model.SortBy == "creationdate_asc" ? "checked" : "") />
                        <label class="form-check-label" for="creationDateAsc">Ascending</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="creationDateDesc" name="sortBy" value="creationdate_desc"
                        @(Model.SortBy == "creationdate_desc" ? "checked" : "") />
                        <label class="form-check-label" for="creationDateDesc">Descending</label>
                    </div>

                </div>
            </div>
        </div>
        <h6 class="ps-3 mt-3">Filter:</h6>
        <div class="m-2 bg-light-subtle rounded-5 p-2 d-inline-block">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="allsubscriptioncheck" name="filters[subscription]" value="" @(Model.Subscription == null ? "checked" : "")>
                <label class="form-check-label" for="allsubscriptioncheck">All</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="subscriptioncheck" name="filters[subscription]" value="true" @(Model.Subscription == true ? "checked" : "")>
                <label class="form-check-label" for="subscriptioncheck">Requires subscription</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="nosubscriptioncheck" name="filters[subscription]" value="false" @(Model.Subscription == false ? "checked" : "")>
                <label class="form-check-label" for="nosubscriptioncheck">No Subscription</label>
            </div>
        </div>
        
        <div class="m-2 bg-light-subtle rounded-5 p-2 d-inline-block">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="allfeaturedcheck" name="filters[featured]" value="" @(Model.IsFeatured == null ? "checked" : "")>
                <label class="form-check-label" for="allfeaturedcheck">All</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="featuredcheck" name="filters[featured]" value="true" @(Model.IsFeatured == true ? "checked" : "")>
                <label class="form-check-label" for="featuredcheck">Is Featured</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="nofeaturedcheck" name="filters[featured]" value="false" @(Model.IsFeatured == false ? "checked" : "")>
                <label class="form-check-label" for="nofeaturedcheck">Not Featured</label>
            </div>
        </div>
        

        <div class="m-2 bg-light-subtle rounded-5 p-2 d-inline-block">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="allpublishedcheck" name="filters[published]" value="" @(Model.IsPublished == null ? "checked" : "")>
                <label class="form-check-label" for="allpublishedcheck">All</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="publishedcheck" name="filters[published]" value="true" @(Model.IsPublished == true ? "checked" : "")>
                <label class="form-check-label" for="publishedcheck">Is Published</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="nopublishedcheck" name="filters[published]" value="false" @(Model.IsPublished == false ? "checked" : "")>
                <label class="form-check-label" for="nopublishedcheck">Not Published</label>
            </div>
        </div> 
        <br />

        <div class="mt-2">
            <p class="d-inline-flex gap-1">
                <button class="btn btn-primary"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false"
                        aria-controls="collapseExample">
                    Tags ▼:
                </button>
            </p>
            <div class="collapse" id="collapseExample">

                @if (Model.Tags != null && Model.Tags.Count > 0)
                {
                    @foreach (Tag tag in Model.Tags)
                    {
                        if (ViewBag.Tags != null && ViewBag.Tags.Contains(tag.TagNameEn))
                        {
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input"
                                       type="checkbox"
                                       name="tags"
                                       value="@(tag.TagNameEn)"
                                       id="flexCheckDefault_@(tag.TagNameEn)" />
                                <label class="form-check-label" for="flexCheckDefault_@(tag.TagNameEn)">
                                    @(tag.TagNameEn)
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="tags"
                                       value="@(tag.TagNameEn)"
                                       id="flexCheckDefault_@(tag.TagNameEn)" />
                                <label class="form-check-label" for="flexCheckDefault_@(tag.TagNameEn)">
                                    @(tag.TagNameEn)
                                </label>
                            </div>
                        }
                    }
                }

            </div>
        </div>

    </form>
</div>

<div class="row mx-auto mt-4">
    @if (Model.AdminBlogList != null)
    @foreach(var blog in Model.AdminBlogList)
    {
        if(blog != null)
        {
                <div class="col-12 col-md-4 col-lg-3 col-xl-2 m-1 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@blog.BlogName</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                                @if (blog != null && blog.AverageRating > 0)
                                {
                                    @for (int i = 0; i < 6; i++)
                                    {
                                        if (blog.AverageRating > i && blog.AverageRating < i + 1)
                                        {
                                            <i class="fa-regular fa-star-half-stroke" style="color: gold"></i>
                                        }
                                        else if (blog.AverageRating > i)
                                        {
                                            <i class="fa-solid fa-star" style="color: gold"></i>
                                        }
                                        else if (i < 5)
                                        {
                                            <i class="fa-regular fa-star" style="color: gold"></i>
                                        }
                                    }
                                }
                            </h6>
                        <p class="card-text">
                                <strong>Published: </strong> @(blog?.Published == true ? "Yes" : "no") <small class="text-danger">@blog?.PublishedDate</small><br />
                            <strong>Featured: </strong>@(blog?.Featured == true ? "Yes" : "no")<br />
                            <strong>Subscription: </strong>@(blog?.SubscriptionRerquired == true ? "Yes" : "no")<br />
                            <strong>Views: </strong>@(blog?.ViewCount) <br />       
                        </p>
                        <div class="mt-auto">
                                <a href="/blogs/blogpageId?blogId=@(blog?.BlogId)" class="card-link m-1">View Blog (@(blog?.CommentCount) comments)</a> <br />

                            <a href="/create-blog?blogId=@(blog?.BlogId)" class="card-link m-1">Edit</a>

                        </div>
                    </div>
                    <small class="ms-auto me-1 text-danger">Created: @blog?.Created</small>
                </div>
            </div>
        }
    }
</div>



<!-- PAGINATION -->

@{
    
}
@if(Model.PageCount > 1)
{
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (ViewBag.PageIndex != 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/admin-blog-views?pageIndex=@(ViewBag.PageIndex - 1)&category=@(ViewBag.Category)&tags=@(string.Join(",", ViewBag.Tags ?? new List<string>()))">Previous</a>
                </li>
            }

            @for (int i = Math.Max(1, ViewBag.PageIndex - 2); i <= Math.Min(Model.PageCount, ViewBag.PageIndex + 2); i++)
            {
                if (i == ViewBag.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link" href="#">@(i)</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/admin-blog-views?pageIndex=@(i)&category=@(ViewBag.Category)&tags=@(string.Join(",", ViewBag.Tags ?? new List<string>()))">@(i)</a>
                    </li>
                }
            }

            @if (ViewBag.PageIndex != Model.PageCount)
            {
                <li class="page-item">
                    <a class="page-link" href="/admin-blog-views?pageIndex=@(ViewBag.PageIndex + 1)&category=@(ViewBag.Category)&tags=@(string.Join(",", ViewBag.Tags ?? new List<string>()))">Next</a>
                </li>
            }
        </ul>
    </nav>

}