@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BlogPreviewsDto


<!-- Filter Section -->
        <div class="" style="position: relative">
            <a class="btn btn-danger text-white m-3 fs-5 rounded-pill text-end"
               data-bs-toggle="offcanvas"
               style="
                  width: 100px;
                  margin: 0%;
                  position: absolute;
                  z-index: 2;
                  left: -45px;
                "
               href="#offcanvas"
               role="button"
               aria-controls="offcanvas">
                Filter
            </a>
        </div>

        <div class="offcanvas offcanvas-start bg-dark p-3"
          tabindex="-1"
          id="offcanvas"
          aria-labelledby="offcanvasLabel"
        >
          <div class="offcanvas-header">
            <h3 class="offcanvas-title text-white" id="offcanvasLabel">Filters</h3>

            <button
              type="button"
              class="btn-close bg-light text-bg-light"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>

    <div class="offcanvas-body bg-dark p-3">
        <form method="get" class="p-3">
      
          <div class="row">
                <div class="col-12 mb-3">
                    <button type="submit" class="btn btn-danger text-white border-0 rounded-0 fw-bold">Apply</button>
                </div>

                <div class="col-12 mb-3">
                    <select name="category" class="form-select" aria-label="Default select">
                        <option selected disabled>Choose a category</option>
                        <option value="">All</option>
                        @if (Model.Categories != null)
                        {
                            @foreach (Category cat in Model.Categories)
                            {
                                if (ViewBag.Category == cat.CatergoryNameEn)
                                {
                                    <option selected value="@(cat.CatergoryNameEn)">@(cat.CatergoryNameEn)</option>
                                }
                                else
                                {
                                    <option value="@(cat.CatergoryNameEn)">@(cat.CatergoryNameEn)</option>
                                }
                            }
                        }
                    </select>
                </div>
          </div>
          <div class="mt-2">

                <h5 class="text-white">Tags</h5>
            <div class="" id="">
              @if (Model.Tags != null && Model.Tags.Count > 0) { @foreach (Tag
              tag in Model.Tags) { if (ViewBag.Tags != null &&
              ViewBag.Tags.Contains(tag.TagNameEn)) {
              <div class="form-check form-check-inline">
                <input
                  checked
                  class="form-check-input"
                  type="checkbox"
                  name="tags"
                  value="@(tag.TagNameEn)"
                  id="flexCheckDefault_@(tag.TagNameEn)"
                />
                <label
                  class="form-check-label"
                  for="flexCheckDefault_@(tag.TagNameEn)"
                >
                  @(tag.TagNameEn)
                </label>
              </div>
              } else {
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="tags"
                  value="@(tag.TagNameEn)"
                  id="flexCheckDefault_@(tag.TagNameEn)"
                />
                <label
                  class="form-check-label text-white"
                  for="flexCheckDefault_@(tag.TagNameEn)"
                >
                  @(tag.TagNameEn)
                </label>
              </div>
              } } }
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Blog List Section -->
    <div class="container mt-5 pt-5">
      <div class="row" >
          @* One item *@
        @if(Model.publicBlogList != null)
        {
            @foreach(var preview in Model.publicBlogList)
            {
                <div class="col-md-6 col-xl-4">
                    <a href="/blogs/blogpage/@(preview.SlugEn)" style="text-decoration: none">
                        <div class="card mb-3">
                            <img src="@(preview?.ImageView?.src)"
                                 style="height: 250px; object-fit: cover"
                                 class="img-fluid rounded-start "
                                 alt="@(preview?.ImageView?.Filename)" />
                            <div class="card-body">
                                <h5 class="card-title">@(preview?.TitleEn)</h5>
                                <p class="card-text">@(preview?.DescriptionEn)</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </a>
                </div>

            }
        }
        @* one item end *@

      </div>

    </div>


@if (Model.PageCount > 1)
{

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (ViewBag.PageIndex != 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/admin-blog-views?pageIndex=@(ViewBag.PageIndex - 1)&category=@(ViewBag.Category)&tags=@(string.Join(",", ViewBag.Tags ?? new List<string>()))">Previous</a>
                </li>
            }

            @for (int i = Math.Max(1, ViewBag.PageIndex - 2); i <= Math.Min(Model.PageCount, ViewBag.PageIndex + 2); i++)
            {
                if (i == ViewBag.PageIndex)
                {
                    <li class="page-item active">
                        <a class="page-link" href="#">@(i)</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/admin-blog-views?pageIndex=@(i)&category=@(ViewBag.Category)&tags=@(string.Join(",", ViewBag.Tags ?? new List<string>()))">@(i)</a>
                    </li>
                }
            }

            @if (ViewBag.PageIndex != Model.PageCount)
            {
                <li class="page-item">
                    <a class="page-link" href="/admin-blog-views?pageIndex=@(ViewBag.PageIndex + 1)&category=@(ViewBag.Category)&tags=@(string.Join(",", ViewBag.Tags ?? new List<string>()))">Next</a>
                </li>
            }
        </ul>
    </nav>

}
