@model StripeList<PaymentMethod>;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d-flex justify-content-center bg-light pt-2 p-1 p-sm-3 align-content-center m-0">
    <nav aria-label="breadcrumb d-flex align-content-center m-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="/subscription-details">Subscription details</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Payment methods
            </li>
        </ol>
    </nav>
</div>
<div class="container mt-5" style="max-width: 1000px">

    <div class="card mb-3 bg-info-subtle" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-4 d-flex justify-content-center align-items-center">
                <div data-bs-target="#addmethod" class="bg-white d-flex justify-content-center align-items-center fs-2 " style="border: dotted 2px gray; color: gray; width: 100px; height: 75px; border-radius: 10px;">
                    <i class="fa-solid fa-plus" style="color: gray;"></i>
                </div>
            </div>
            <div class="col-6 ">
                <div class="card-body d-flex align-items-center" style="height: 125px">
                    <a href="#" class="" id="addmethodfetch" data-bs-toggle="modal" data-bs-target="#addmethod">
                        Add payment method
                    </a>
                    <!-- Modal -->
                    <div class="modal fade " id="addmethod" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addmethodLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="addmethodLabel">New Card</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="checkout"></div>
                                        
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    @if (string.IsNullOrEmpty(ViewBag.PayMethod))
    {
        <br />
        <small class="text-danger fst-italic p-1">*No dafault payment method has been selected</small>
        <br />
        <br />

    }




@foreach(PaymentMethod method in Model.Data)
{

    <div class="border mb-3 p-1 overflow-hidden" style="max-width: 540px; position: relative;">
        <div class="row g-0 p-1" >
            <div class="col-2 d-flex justify-content-center align-items-center ps-md-3" >
                <img style="object-fit: cover;"
                         src="~/images/@(method.Card.Brand == "visa" ? "VisaLogoPS.png" : method.Card.Brand == "mastercard" ? "MasterCardLogoPS.png" : "CardLogo.png")"
                        class="img-fluid rounded-start mt-2 mt-sm-0"
                        alt="card-logo" />
            </div>
            <div class="col-8">
                <div class="ps-5" >
                    <h5 class="text-uppercase p-0">@(method.Card.Brand)</h5>
                    <p class="p-0 m-0">
                        Card number ending with: **** @(method.Card.Last4) <br /><small> @(method.Card.ExpMonth)/@(method.Card.ExpYear)</small> <br />
                        <small class="text-body-secondary ">
                                @if (ViewBag.PayMethod != method.Id)
                                {
                                <a href="#" data-bs-toggle="modal" data-bs-target="#@(method.Id)">Make default method</a> 
                                    
                                <span> | </span>
                                }
                                <a href="#" data-bs-toggle="modal" data-bs-target="#@(method.Id)remove">Remove</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
        @if (ViewBag.PayMethod == method.Id)
        {
            <div class="bg-danger text-white fw-bold fst-italic p-1"
                        style="
                position: absolute;
                left: -6px;
                top: 0px;
                transform: skew(-15deg);
                width: 80px;
                height: 30px;
                    ">
            </div>
            <span class="text-white fw-bold fst-italic p-1 ps-2" style="position: absolute; left: 0px; top: 0px">Default</span>
        }
    </div>

        <!-- Modal default method-->
        <div class="modal fade" id="@(method.Id)" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit payment method</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-5">Do you want to make this card the default payment method?</p>
                        <p class="p-0 m-0">
                            <span class="text-uppercase fs-6 fw-bold">@(method.Card.Brand) </span> <br />Card ending in **** @(method.Card.Last4) <br /> <small> @(method.Card.ExpMonth)/@(method.Card.ExpYear)</small>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form action="/default-payment-method" method="post">
                            <input type="hidden" name="methodId" value="@(method.Id)" />
                            <input type="hidden" name="customerId" value="@(method.CustomerId)" />
                            <input type="hidden" name="subscriptionId" value="@(ViewBag.SubscriptionId)" />

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-primary">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal remove-->
        <div class="modal fade " id="@(method.Id)remove" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Remove payment method</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-5">
                            Do you want to remove this payment method?
                        </p>
                        <p class="p-0 m-0">
                            <span class="text-uppercase fs-6 fw-bold">@(method.Card.Brand) </span> <br />Card ending in **** @(method.Card.Last4) <br /> <small> @(method.Card.ExpMonth)/@(method.Card.ExpYear)</small>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form action="/remove-payment-method" method="post">
                            <input type="hidden" name="methodId" value="@(method.Id)" />
                            <input type="hidden" name="defaultMethod" value="@(ViewBag.PayMethod ?? "")" />
                            <input type="hidden" name="customerId" value="@(method.CustomerId)" />
                            <input type="hidden" name="subscriptionId" value="@(ViewBag.SubscriptionId)" />
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-primary">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
}
</div>
@section Scripts {
    <script type="text/javascript">
        const stripe = Stripe("@(ViewBag.PublishableKey)");

        initialize();

        // Fetch Checkout Session and retrieve the client secret
        async function initialize() {
            const fetchClientSecret = async () => {
                const response = await fetch("/create-payment-method?customerId=@(ViewBag.CustomerId)", {
                    method: "POST",
                });
                const { clientSecret } = await response.json();
                return clientSecret;
            };

            // Initialize Checkout
            const checkout = await stripe.initEmbeddedCheckout({
                fetchClientSecret,
            });

            // Mount Checkout
            checkout.mount('#checkout');
        }
    </script>

}