@model Subscription;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Payment methods</h3>
<a href="/payment-methods?customerId=@(Model.CustomerId)&method=@(Model.DefaultPaymentMethodId)&subscriptionId=@(Model.Id)">View your payment methods</a>

<hr />

<h1>Subscription details</h1>

    <div style="padding: 10px">
        <strong>Default:</strong> @(Model.DefaultPaymentMethodId), <br>

        <strong>SubscriptionId:</strong> @(Model.Id), <br>
        <strong>CustomerId:</strong> @(Model.CustomerId), <br>
        <strong>Cancel at:</strong> @(Model.CancelAt)<br>
        <strong>Created:</strong>  @(Model.Created),<br>
        <strong>CurrentPeriodStart:</strong> @(Model.CurrentPeriodStart),<br>
        <strong>CurrentPeriodEnd:</strong> @(Model.CurrentPeriodEnd),<br>
        <strong>Next Pending Invoice:</strong> @(Model.NextPendingInvoiceItemInvoice)<br>
        <strong>Status:</strong> @(Model.Status),<br>
        <strong>Collection Method:</strong> @(Model.CollectionMethod),<br>
        <br>
        <br>
        <br>
        <strong>InvoiceSettings:</strong> <br>
        @(Model.InvoiceSettings.RawJObject),

    </div>

<hr />
@if (Model.Status == "active" && Model.CancelAt != null)
{
    <a href="/resume-subscription?subscriptionId=@(Model.Id)&customerId=@(Model.CustomerId)">Continue Subscription for next month</a>
}
else if (Model.Status == "canceled")
{
    <a href="/checkout-subscription">Resume Subscription</a>
}else
{
    <a href="/cancel-subscription?subscriptionId=@(Model.Id)">Cancel Subscription</a>
}

